@using DragonflyDataLibrary
@using DragonflyMVCApp.Controllers
@model UserModel
@{
    ViewData["Title"] = $"Welcome, {User.ClaimValue(UserClaimsIndex.Name)}";
}
<div class="min-h-full w-full flex flex-col justify-center items-center bg-transparent">
    <div class="mt-6 w-5/6 max-w-3xl rounded-xl bg-neutral-700 p-2">
        <h2 class="w-full border-b-2 border-lime-700 py-1 pl-0.5 text-2xl">
            All Projects
            <a asp-controller="Home" asp-action="CreateProject"
                class="float-right rounded-md bg-lime-500 p-1 text-lg text-black">
                + New</a>
        </h2>
        <form asp-action="Home" asp-controller="Home" method="post"
            class="w-full grid grid-cols-[auto,2rem] border-b border-lime-500 pt-2">
            <input class="w-full bg-neutral-700 p-2 text-md" type="text" name="search"
                placeholder="Search for project" />
            <button class="w-8 px-0.5 text-lg hover:bg-lime-300/75" type="submit">
                🔍</button>
        </form>
    </div>
    @if (Model.Projects.Count == 0)
    {
        <div class="mt-8 w-4/6 max-w-3xl rounded-2xl bg-neutral-700 p-2">
            <h2 class="w-full border-b border-lime-700 py-1 text-xl text-center">
                You don't have any projects yet.</h2>
            <p class="text-center"><a asp-controller="Home" asp-action="CreateProject" class="text-lime-500 underline">
                    Create a new project</a> to get started.</p>
        </div>
    }
    @foreach (var project in Model.Projects)
    {
        <a asp-controller="Home" asp-action="Project" asp-route-id="@project.Id"
        class="my-3 w-5/6 max-w-3xl rounded-2xl bg-neutral-700 p-2">
            <h1 class="w-full border-b border-lime-700 text-2xl">@project.Title</h1>
            <p class="py-0.5">@project.Description</p>
            <div class="w-full grid grid-cols-2 grid-rows-2">
                <div class="w-full p-2 col-span-2">Due: @project.Deadline.ToString("dd-MM-yyyy")</div>
                <div class="w-full p-2">$ @project.Tasks.Sum(t => t.Cost).ToString("0.##")</div>
                <div class="w-full p-2">Tasks: @project.Tasks.Count</div>
            </div>
        </a>
    }
</div>
